{% extends 'base.html.twig' %}

{% block title %} Création de votre compte {% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5"> Créer votre compte ! </h1>

    {{ form_start(formUser, {'attr' : {'class' : 'col-md-4 mx-auto'} }) }}

        {{ form_row(formUser.email) }}
        {{ form_row(formUser.username, { 'label' : "Saisir votre nom d'utilisateur :"}) }}
        {{ form_row(formUser.password, { 'label' : "Saisir votre mot de passe :"}) }}
        {{ form_row(formUser.confirm_password, { 'label' : "Confirmer votre mot de passe :"}) }}

            <button type="submit" class="btn btn-success mb-5"> Création du compte </button>
    
    {{ form_end(formUser) }}




{% endblock %}